[submodule "modules/uavcan"]
	path = modules/uavcan
	url = git@192.168.10.241:liuleilei/uavcan.git
[submodule "modules/waf"]
	path = modules/waf
	url = git@192.168.10.241:liuleilei/waf.git
[submodule "modules/gbenchmark"]
	path = modules/gbenchmark
	url = git@192.168.10.241:liuleilei/gbenchmark.git
[submodule "modules/mavlink"]
	path = modules/mavlink
	url = git@192.168.10.241:liuleilei/mavlink.git
[submodule "gtest"]
	path = modules/gtest
	url = git@192.168.10.241:liuleilei/gtest.git
[submodule "modules/ChibiOS"]
	path = modules/ChibiOS
	url = git@192.168.10.241:liuleilei/ChibiOS.git

	
